<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">URL</th>
                <th scope="col">Download</th>
                <th scope="col">Compress</th>
              </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{url.url}}</td>
                    <td class = "downloadProgress" id = {{url.download}}>0%</td>
                    <td class = "compProgress">0%</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <div style = "padding-top: 50px;">
      <h1 id = "timechange">Time's not initiated</h1>
      <h4>LINK:</h4>
      <div id="compressedFile">
        <h5 >Loading...</h5>
      </div>
      
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
      WebSocketImplementation();
      function WebSocketImplementation() {
        console.log("Connecting...");
        var ws = new SockJS("http://152.118.148.95:15674/stomp");
        var client = Stomp.over(ws);
        client.heartbeat.outgoing = 0;
        client.heartbeat.incoming = 0;


        // Make sure the user has limited access rights
        

        var onConnect = function(m) {
          console.log("connected");
          client.subscribe(downloadTopic, downloadJquery);
          client.subscribe(compressTopic, compressJquery);
          client.subscribe(timeTopic, timeJquery);
          client.subscribe(linkTopic, linkJquery);
          console.log("Subsribed")
        }
        var onError = function(m) {
          console.log("ada error");
        }

        var downloadTopic = "/exchange/1706022842_TOPIC/download";
        var downloadJquery = function(m) {
          console.log("isi m adalah : ");
          console.log(m.body.split(" ")[0]);
          console.log(m.body.split(" ")[1]);
          var inputMsg = m.body.split(" ");
          var cariId = "#download"+inputMsg[0];
          console.log(cariId);
          $(cariId).html(inputMsg[1]);
        };
        var compressTopic = "/exchange/1706022842_TOPIC/compression";
        var compressJquery = function(m) {
          console.log("compression gan");
          $('.downloadProgress').html("100%")
          console.log(m.body);
          $('.compProgress').html(m.body + "%");
        }
        var timeTopic = "/exchange/1706022842_TOPIC/time";
        var timeJquery = function(m){
          $('#timechange').html(m.body);
        }

        var linkTopic = "/exchange/1706022842_TOPIC/link";
        var linkJquery = function(m){
          console.log(m.body);
          $('#compressedFile').html("<a href='" + m.body + "'>Download compressed file</a>");
        }
        client.connect('0806444524', '0806444524', onConnect, onError, "/0806444524");

      }


      



    </script>
    

    
    
</body>
</html>